/**************************************************************
********************** Control Tags [@] ***********************
**************************************************************/
.contentTag[title*="@MarketingAccounts"] {
color: #4DC549 !important;
}

.contentTag[title*="@ma-"] {
color: #00BFFF !important;
}

.contentTag[title*="@Team"] {
color: #C267FB !important;
}

/*contentTag[title*="@Tasks"] {
color: #6215A8 !important;
}*/


/**************************************************************
****************** People [@] *******************
**************************************************************/
.contentTag[title*="@Chelsea"] {
color: #FFFF00 !important;
}

.contentTag[title*="@Peter"] {
color: #00A388 !important;
}

.contentTag[title*="@Lora"] {
color: #E54661 !important;
}

.contentTag[title*="@Raul"] {
color: #468966 !important;
}

.contentTag[title*="@Sam"] {
color: #CC9E42 !important;
}


/**************************************************************
****************** Weekly Meeting Notes [@] *******************
**************************************************************/
.contentTag[title*="@WeeklyMeeting"] {
color: #4DC549 !important;
}

/*
.contentTag[title*="@ma-"] {
color: #00BFFF !important;
}

.contentTag[title*="@Team"] {
color: #C267FB !important;
}

contentTag[title*="@Tasks"] {
color: #6215A8 !important;
}
*/


/**************************************************************
*************** Weekly Meeting Headings [#] *******************
**************************************************************/
.contentTag[title*="#Projects-Overview"] {
color: #E74900 !important;
}

.contentTag[title*="#Issues"] {
color: #AF2206 !important;
}

.contentTag[title*="#Personal-Accomplishments"] {
color: #939720 !important;
}

.contentTag[title*="#Goals-For-Next-Week"] {
color: #096051 !important;
}

.contentTag[title*="#In-Near-Future"] {
color: #915990 !important;
}


/**************************************************************
*********************** Identifer Tags ************************
**************************************************************/
.contentTag[title*="#SNCP"] {
color: #008000 !important;
}

.contentTag[title*="#Notes"] {
color: #498BC4 !important;
}

.contentTag[title*="#Tasks"] {
color: #FF6000 !important;
}

.contentTag[title*="#ETC"] {
color: #B71AE4 !important;
font-weight: normal !important;
}

.contentTag[title*="#Results"] {
color: #998A2F !important;
}

.contentTag[title*="#Checklist"] {
color: #C71585 !important;
}

.contentTag[title*="#Opportunities"] {
color: #FFD700 !important;
}

.contentTag[title*="#Support"] {
color: #9B4E28 !important;
}

.contentTag[title*="#BuddySystem"] {
color: #99FF00 !important;
}

.contentTag[title*="#NewYearResolutions"] {
color: #3498DB !important;
}

.contentTag[title*="#Google"] {
color: #0F9D58 !important;
}

.contentTag[title*="#Google-"] {
color: #0F9D58 !important;
}

.contentTag[title*="#AdWords"] {
color: #4F8DF4 !important;
}

.contentTag[title*="#BingAds"] {
color: #008372 !important;
}

.contentTag[title*="#BingPlacesForBusiness"] {
color: #008372 !important;
}

.contentTag[title*="#Bing-"] {
color: #008372 !important;
}

.contentTag[title*="#Search"] {
color: #3B4FFF !important;
}

.contentTag[title*="#Display"] {
color: #37CF1C !important;
}


/**************************************************************
************************ Date & Time **************************
**************************************************************/
.contentTag[title*="#2016"] {
color: #9B4E28 !important;
}

.contentTag[title*="#Jan-"] {
color: #66A4E8 !important;
}

.contentTag[title*="#Feb-"] {
color: #D97C72 !important;
}

.contentTag[title*="#Mar-"] {
color: #96FF98 !important;
}

.contentTag[title*="#Apr-"] {
color: #F25EB0 !important;
}

.contentTag[title*="#May-"] {
color: #FF6DFF !important;
}

.contentTag[title*="#Jun-"] {
color: #0CE8E8 !important;
}

.contentTag[title*="#Jul-"] {
color: #193FFF !important;
}

.contentTag[title*="#Aug-"] {
color: #987550 !important;
}

.contentTag[title*="#Sep-"] {
color: #E5884D !important;
}

.contentTag[title*="#Oct-"] {
color: #FF4D0D !important;
}

.contentTag[title*="#Nov-"] {
color: #6B583D !important;
}

.contentTag[title*="#Dec-"] {
color: #00B3CA !important;
}


/**************************************************************
*********************** Action Tags ***************************
**************************************************************/
.contentTag[title*="#Completed"] {
color: #00C900 !important;
}

.contentTag[title*="#Approved"] {
color: #00C900 !important;
}

.contentTag[title*="#InProcess"] {
color: #FF6900 !important;
}

.contentTag[title*="#Pending"] {
color: #14C7CC !important;
}

.contentTag[title*="#Waiting"] {
color: #14C7CC !important;
}

.contentTag[title*="#Postponed"] {
color: #14C7CC !important;
font-style: italic !important;
font-weight: normal !important;
}

.contentTag[title*="#YetStarted"] {
color: #FF69B4 !important;
}

.contentTag[title*="#Unknown-Status"] {
color: #FF69B4 !important;
}

.contentTag[title*="#FollowUp"] {
color: #D043D5 !important;
}

.contentTag[title*="#Insights"] {
color: #BDF271 !important;
}

.contentTag[title*="#Warning"] {
color: #FF4000 !important;
}

.contentTag[title*="#Canceled"] {
color: #FF0000 !important;
/*font-style: italic !important;*/
font-weight: normal !important;
/*text-decoration: line-through !important;*/
}

.contentTag[title*="#Suggestions"] {
color: #FFC000 !important;
}
